
/*navbar*/
.navbar {
position: absolute!important;
	z-index: 1;
}
.navbar-nav{
	width: 100%;
}


/*background image*/
.background{
	background-image: url("home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	height: 100%;
}
.background .container .col-6{
		margin-top:10rem;
}
.welcometext{
		margin-top:15rem!important;
}
.homeimage img{
	border-radius:20px;
}
.welcometext h1{
	font-size:60px;
}

/*certification*/
.certification li{
	display: inline;
}
.certification img{
	width: 80px;
	height:55px;
	margin-left: 94px;
}

/*Our Facilities*/
.facilities{
	padding-bottom: 63px;
}
.facilitiesimage{
	background-image: url("services/1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#839CF9;
	position: relative;
	width: 100%;
	height:378px;
}
.backgroundcolor{
	position: absolute;
	background-color: #28BD86;
	right: 0px;
	padding: 18px;
	padding-left: 46px;
	padding-right: 30px;
	bottom: 0px;
}
.backgroundcolor2{
	background-color: #28BD86;
	width: 100%;
	height: 100%;
}
.backgroundcolor3{
	background-color: #1B5FC1;
	width: 100%;
	height: 100%;
}

/*Rating*/
.overallrating{
	background-color: #1B5FC1;
	border-radius: 10px;
}

/*Expertise*/
.Expertise{
	background-color: #EDF3FA;
}
.Expertise .card{
	width: 18rem;
}
.Expertise .card-img-top{
	border-radius: 3px;
}

/*Trust Us*/
.trustup img{
	border-radius: 10px;
}


/*latestcase*/
.lcs{
	background-color: #F2FCF8;
	padding-bottom:77px;
}
.latestcase img{
	border-radius: 12px;
}

/*peoplesay*/
.whatpeopleaboutus{
	margin-top: 65px;
}
.wps h1{
    margin-top: 50px;
    font-size: 3.5rem!important;
}
.wps p{
    margin-top: 20px;
}
.peoplesay img{
	border-radius: 10px;
}
.ethanshaw h5{
	padding-top: 108px;
}
.ethanshaw p{
	padding-top: 10px;
}


/*pointlab experts*/
.Pointlab{
	padding-top: 1rem;
	padding-bottom: 8rem;
}
.team img{
	border-radius: 24px;
}


/*footer*/
.footerrow1{
	background-color: #1756B0;
	padding-top:5rem; 
	padding-bottom:5rem;
	position: relative;

}
.footerrow1 .Subscribe img{
	max-width: 141%;
	height: 66px;
}
.footerrow1 #Email{
	padding-right: 8rem;
	padding-bottom: 7px;
	border-radius: 13px;	
}
.footerrow2{
	background-color:#1B5FC1;
	padding-top:2rem; 
	padding-bottom:2rem;
	max-width: 100%;
}
.footerrow2 img{
	width: 147%;
	height: 57%;

}
.footerrow3{
	background-color: #ECF0F5;
    padding-top:3rem; 
	padding-bottom:3rem;
	max-width: 100%;
}
.footerrow3 ul{
    margin-left: -25px;
    margin-top: 12px!important;
}
.footerrow3 .scientific{
	padding-top:23px;
}


/*Responsive*/

/*footer*/
@media only screen and (max-width: 992px) {
  .footerrow1 .col-6{
  	max-width: 100%;
  	flex: 100%
  }
  .footerrow1 #Email{
  	margin-top: 35px;
  	border-radius: 13px;
  }
}